@model ClassLibrary.user

@{
    ViewBag.Title = "Index";
}

<h2>登录</h2>

<form action="/Login/userLogin" method="post">
    <div class="form-input">
        <label for="loginName">用户名</label>
        <input type="text" name="loginName" />
    </div>
    <div class="form-input">
        <label for="password">密码</label>
        <input type="password" name="password" />
    </div>
    <div class="form-input">
        <input type="submit">
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

